<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LogAccess" connectionString="Data Source=5e897736-5644-4eb9-85b7-a803003d323a.sqlserver.sequelizer.com;Database=db5e89773656444eb985b7a803003d323a;User ID=gsvtkudyzvduautd;Password=KigmE2nhQ6qiTTNSSu48RGUprmzx8M8X7TPyWNhxCSdBG7nikweN3UydvZ4szWid;;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Email Connection Information -->
    <add key="Email.SendTo" value="Cooker8200@hotmail.com"/>
    <add key="Email.From" value="mcd_developer@outlook.com"/>
    <add key="Email.User" value="mcd_developer@outlook.com"/>
    <add key="Email.Password" value="mcdDeveloper1234"/>
    <add key ="Email.Host" value ="smtp-mail.outlook.com"/>
    <add key="Email.Port" value="587"/> 
    
  </appSettings>
</configuration>