@model Maintenance.Models.HepA

<h3 class="main_header">Christian Foods</h3>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <h4>Choose Store:</h4>
    <div id="list">
    <button id="ss_search" class="btn btn-success" style="float:right;">Go!</button>
    </div>


    <div id="ss_results">

    </div>

}

else
{
    @Html.ActionLink("Please log in", "Login", "Account")
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/ServSafeScript.js")