@model Maintenance.Models.HepA

<h3 class="main_header">Banducci Enterprises</h3>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <h4>Choose Store:</h4>
    <div id="list">
    <button id="hep_search" class="btn btn-success" style="float:right;">Go!</button>
    </div>


    @*<div>
        @using (Html.BeginForm("Search", "HepA", FormMethod.Get)) { 
            <input type="text" name="searchtext" value="searchtext" />
            <button type="submit">Go!</button>
        }
    </div>*@

    <div id="hepa_results">

    </div>

}

else
{
    @Html.ActionLink("Please log in", "Login", "Account")
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/HepA_List.js")