<h3 class="main_header">Banducci Enterprises</h3>
<hr />

<h4>Your Request Has Been Submitted</h4>

<h5>
    Your store will recieve contact within 12 hours.  If there is a more urgent need, please contact your OTM directly to get the
    issue resolved quicker.
</h5>