<!-- Page to select search function for edit maintenance records-->

<div id="repair_search">
    
    <button id="repair_searchbutton" class="btn btn-success" style="float: right; ">GO!</button>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/EditStepTwo.js")