
@using (Html.BeginForm("DateRecords", "Maintenance", FormMethod.Post))
{
    <input type="date" id="startdate" name="startdate" />

    <input type="date" id="enddate" name="enddate" />

    <button class="btn btn-primary">Search</button>
}