
<div style="text-align: center">
    <input type="text" id="vendortext" name="vendortext" />

    <button class="btn btn-primary" id="vendor_search">Search</button>
</div>

@Scripts.Render("~/Scripts/MaintenanceScript.js")