
<div style="text-align: center">
    <input type="text" id="storetext" name="storetext" />

    <button class="btn btn-primary" id="store_search">Search</button>
</div>

@Scripts.Render("~/Scripts/MaintenanceScript.js")
