@model Maintenance.Models.Stores

<h3 class="main_header">Banducci Enterprises</h3>
<hr />

<h5>Search By Store First</h5>

<h5>Choose from below:</h5>
<button class="btn btn-group" style="text-align: center;">
    <p class="btn btn-default" id="search_store">Search By Store</p>
    <p class="btn btn-default" id="search_date">Search by Date</p>
    <p class="btn btn-default" id="search_vendor">Search by Vendor</p>
    <p class="btn btn-default" id="search_type">Search by Repair Type</p>
</button>

<div id="search_field">

</div>

<div id="edit_results">

</div>

@Scripts.Render("~/Scripts/MaintenanceEdit.js")