@model Maintenance.Models.Stores

<h3 class="main_header">Banducci Enterprises</h3>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h5>Search Store and Repair Type</h5>
    <div id="search_method">
        <!-- insert javascript for selection, ajax call to proceed to next step -->
    </div>

    <div id="edit_step2">
        <!-- second step where we choose repair type passed in through ajax call -->

    </div>

    <div id="search_results">

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/MaintenanceEdit.js")
}
else
{
    <h4>@Html.ActionLink("Please log in", "Login", "Account")</h4>
}
