@model Maintenance.Models.Stores

<h3 class="main_header">Banducci Enterprises</h3>
<hr />

<h5>How do you want to search?</h5>
<div id="search_method">
    <!-- insert javascript for selection, ajax call to proceed to next step -->
</div>

<div id="edit_step2">
    <!-- second step where we choose repair type passed in through ajax call -->

</div>

<div id="search_results">

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/MaintenanceEdit.js")