<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>OTP Support Request</h3>

    <p>Store: $$Store$$</p>

    <p>Submitted by: $$Name$$</p>

    <p>Equipment: $$Equipment$$</p>

    <p>Location: $$Location$$</p>

    <p>Problem: $$Problem$$</p>

    <p style="text-decoration:underline">Please respond to request within <b>12</b> hours.</p>
    <p style="font-weight:bold">Critical items (cashless down, POS down, etc) require immediate attention.</p>

</body>
</html>